root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,dart,htm,html,js,json,jsx,pu,puml,rb,ts,tsx,vue,yaml,yml}]
indent_size = 2
indent_style = space

[*.{go,gradle}]
indent_size = 4
indent_style = space

[*.{md}]
max_line_length = off
trim_trailing_whitespace = false

[{Makefile,*.mk}]
indent_style = tab
