name: Test
on:
  pull_request:
    branches:
      - main
      - '!renovate/**'
  push:
    branches:
      - main
      - renovate/**
jobs:
  test:
    uses: WillBooster/reusable-workflows/.github/workflows/test.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GH_BOT_PAT }}
