name: Test
on:
  pull_request:
  push:
    branches:
      - main
      - wbfy
      - renovate/**
jobs:
  test:
    uses: WillBooster/reusable-workflows/.github/workflows/test.yml@main
    with:
      github_hosted_runner: true
    secrets:
      GH_TOKEN: ${{ secrets.PUBLIC_GH_BOT_PAT }}
